<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }
  </style>
  <!-- Footer section -->
  <div class="footer">
    <p>&copy; Copyright 2022. All Rights reserved. Developed by <a href="/">Group 4</a></p>
  </div>
  